﻿@{
    ViewData["Title"] = "About Us";
}
<h2>@ViewData["Title"]</h2>
<h3>Here are our team members!  Enjoy the bios! :)</h3>

<a href="https://bitbucket.org/torresjp/4250_lab1/src/JulianTorres/Biography.txt">Julian Torres</a>
<a href="https://bitbucket.org/torresjp/4250_lab1/src/AlexanderWittman/WittmanBiography.txt">Alexander Witmann</a>
<a href="https://bitbucket.org/torresjp/4250_lab1/src/KellyKing/KellyKingBiography">Kelly King</a>

